@model SalesApp.ViewModel.NormalSaleVM;

@{
    ViewBag.Title = "Cash Sale";

}

    <div class="wrapper">
        <!-- Sidebar  -->
        <partial name="~/Views/Shared/Sidebar.cshtml" model="Model" />
    </div>
<!-- Page Content  -->
    <div id="content">
        <div class="header-container clearfix">
            <button type="button" id="sidebarCollapse" class="btn btn-info">
                <i class="las la-align-left"></i>
            </button>

            <h1><span class="fbold">Sales</span> <span class="fregular">Application</span></h1>

            <div class="account-wrap">
                <div class="account-item clearfix js-item-menu">
                    <div class="image">
                        <img src="~/img/avatar-01.jpg" alt="John Doe" />
                    </div>
                    <div class="content-account">
                        <a class="js-acc-btn" href="#">Parag Tawde</a>
                    </div>
                    <div class="account-dropdown js-dropdown">
                        <div class="info clearfix">
                            <div class="image">
                                <a href="#">
                                    <img src="~/img/avatar-01.jpg" alt="John Doe" />
                                </a>
                            </div>
                            <div class="content-account">
                                <h5 class="name">
                                    <a href="#">Parag Tawde</a>
                                </h5>
                                <span class="email">Sales executive</span>
                            </div>
                        </div>
                        <div class="account-dropdown__body">
                            <div class="account-dropdown__item">
                                <a href="#">
                                    <i class="zmdi zmdi-account"></i>Account
                                </a>
                            </div>
                            <div class="account-dropdown__item">
                                <a href="#">
                                    <i class="zmdi zmdi-settings"></i>Setting
                                </a>
                            </div>
                            <div class="account-dropdown__item">
                                <a href="#">
                                    <i class="zmdi zmdi-money-box"></i>Billing
                                </a>
                            </div>
                        </div>
                        <div class="account-dropdown__footer">
                            <a href="#">
                                <i class="zmdi zmdi-power"></i>Logout
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="main-container">
            <div class="container-bg clearfix">
                <div class="container-header clearfix"></div>

                <div class="sale-process-nav" id="menu2">
                    <ul>
                        <li id="l_item" class="active">
                            <a href="#" onclick="manaagetab('1')">
                                <span class="nav-icon-container"><i class="las la-shopping-cart"></i></span>
                                <span class="nav-txt-container">Add Item</span>
                            </a>
                        </li>
                        <li id="l_pay">
                            <a class="active" onclick="manaagetab('4')">
                                <span class="nav-icon-container"><i class="las la-credit-card"></i></span>
                                <span class="nav-txt-container">Payment</span>
                            </a>
                        </li>
                        <li id="l_customer">
                            <a class="active" onclick="manaagetab('2')">
                                <span class="nav-icon-container"><i class="as la-user-cog"></i></span>
                                <span class="nav-txt-container">CustomerInfo</span>
                            </a>
                        </li>
                        <li id="l_stand">
                            <a class="active" onclick="manaagetab('3')">
                                <span class="nav-icon-container"><i class="las la-truck"></i></span>
                                <span class="nav-txt-container">Stand & Delivery</span>
                            </a>

                        </li>

                        <li id="l_review">
                            <a onclick="manaagetab('5')">
                                <span class="nav-icon-container"><i class="las la-print"></i></span>
                                <span class="nav-txt-container">Review & Print</span>
                            </a>
                        </li>

                    </ul>
                </div>

                <!-- <div class="container-name-cart-info clearfix">
              <p class="clients-name-info"><i class="las la-user-circle"></i> Shomayala Arooz</p>
              <p class="clients-cart-info hide-mobile"><i class="las la-shopping-cart"></i> You have <span class="fbold">2 items</span> in your Cart</p>

            </div> -->

                <div class="container-fluid">


                    <!--
                <a href="" class="btn-create"><i class="las la-plus"></i></a>
                <a href="" class="btn-scan"><i class="las la-qrcode"></i></a> -->



                    <div id="item">

                        <partial name="~/Views/Shared/NormalSaleItem.cshtml" model="Model" />

                    </div>

                    <div id="customer">
                        <partial name="~/Views/Shared/NormalCustomerDetails.cshtml" model="Model" />
                    </div>
                    <div id="stand">
                        <partial name="~/Views/Shared/Normalstanddelivery.cshtml" model="Model" />
                    </div>
                    <div id="payment">
                        <partial name="~/Views/Shared/NormalOrderPayment.cshtml" model="Model" />
                    </div>
                    <div id="review">
                        <partial name="~/Views/Shared/NormalReview.cshtml" model="Model" />
                    </div>

                </div>


                <div class="container-bg clearfix">




                </div>
            </div>




        </div>

        <input type="hidden" id="hdnpgno" value="@ViewBag.pgno" />
        <input type="hidden" id="hdnbalance" value="@ViewBag.totalbalance" />
       
        <input type="hidden" asp-for="conversionrate" />
    </div>
<div class="overlay"></div>

<script src="~/js/vendor/modernizr-3.8.0.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="~/js/vendor/jquery-3.4.1.min.js"><\/script>')</script>
<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<!-- jQuery Custom Scroller CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="~/js/plugins.js"></script>
<script src="~/js/main.js"></script>

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script type="text/javascript">

    function GetItemDetails() {
        var stockid = $('#StockNumber').val();
        if (stockid != '') {
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetStockDetails", "CashSale")',
                //contentType: false,
                //processData: false,
                data: { "stockid": stockid },
                success: function (data) {
                    if (data != null) {
                        var response = JSON.stringify(data[0]);
                        if (response != null) {
                            $('#itemcategory').text(data[0].category);
                            $('#itemcategory').css('color', 'green');
                            $('#itemname').text(data[0].itemname);
                            $('#itemsize').text(data[0].size);
                            $('#itemstone').text(data[0].marblestone);
                            $('#itemcolor').text(data[0].marblecolor);
                            // $('#totalvalue').val(data[0].price);
                            $('#hdntotal').val(data[0].price)

                            $('#item_desc').val(data[0].category + ',' + data[0].itemname + ',' + data[0].size + ',' + data[0].marblecolor);

                        }
                        else {
                            $('#itemcategory').text('No Record Exists!!!');
                            $('#itemcategory').css('color', 'red');
                            $('#itemname').text('');
                            $('#itemsize').text('');
                            $('#itemstone').text('');
                            $('#itemcolor').text('');
                            $('#totalvalue').val('');
                        }
                    }
                    else {
                        $('#itemcategory').text('No Record Exists!!!');
                        $('#itemcategory').css('color', 'red');
                        $('#itemname').text('');
                        $('#itemsize').text('');
                        $('#itemstone').text('');
                        $('#itemcolor').text('');
                        $('#totalvalue').val('');
                    }



                },
                Error: function (err) {
                    $('#itemcategory').append(err);
                    //  debugger;
                },
                /* beforeSend: function () {
                     $(".progress").show();
                 },
                 complete: function () {
                    $(".progress").hide();
                 }*/
            });

        }
    }

    $(document).ready(function () {

        //$(function () {
        //    $('#conversionrate').blur(function () {
        //        var rate = getNum(parseFloat($('#conversionrate').val()));
        //        var price = getNum(parseFloat($('#hdntotal').val()));
        //        var calculatefinal = (price)/(rate);

        //        var finalinvoice = Math.round(calculatefinal * 100) / 100;
        //        if (!isNaN(finalinvoice)) {
        //            $('#totalvalue').val(finalinvoice);
        //        }

        //    });
        //});
        function getNum(val) {
            if (isNaN(val)) {
                return 0;
            }
            return val;
        }
        $("#sidebar").mCustomScrollbar({
            theme: "minimal"
        });

        $('#dismiss, .overlay').on('click', function () {
            $('#sidebar').removeClass('active');
            $('.overlay-nav').removeClass('active');
        });

        // $('#sidebarCollapse').on('click', function () {
        //     $('#sidebar').addClass('active');
        //     $('.overlay').addClass('active');
        //     $('.collapse.in').toggleClass('in');
        //     $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        // });

        $('#sidebarCollapse').on('click', function () {
            $('#sidebar, #content').toggleClass('active');
            $('.overlay-nav').addClass('active');
            $('.collapse.in').toggleClass('in');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });
    });

    function balancecheck(totalbalance) {

        if (totalbalance != '') {

            if (totalbalance > 0) {

                return false;

            }
            else { return true;}

        }

    }
 function manaagetab(id) {

     var totalbalance = $('#hdnbalance').val();
     if (id == "1") {

             $('#item').show();
             $('#customer').hide();
             $('#stand').hide();
             $('#payment').hide();
             $('#review').hide();
             $('#menu2').hide();
         $('#l_item').addClass('active');
         $('#l_customer').removeClass('active');
         $('#l_stand').removeClass('active');
         $('#l_pay').removeClass('active');
         $('#l_review').removeClass('active');

            }
     else if (id == "2") {
         if (balancecheck(totalbalance)) {
             $('#customer').show();
             $('#item').hide();
             $('#stand').hide();
             $('#payment').hide();
             $('#review').hide();
             $('#menu2').show();
             $('#l_customer').addClass('active');
             $('#l_item').removeClass('active');
             $('#l_stand').removeClass('active');
             $('#l_pay').removeClass('active');
             $('#l_review').removeClass('active');
         }
     } else if (id == "3") {
         if (balancecheck(totalbalance)) {
             $('#customer').hide();
             $('#item').hide();
             $('#stand').show();
             $('#payment').hide();
             $('#review').hide();
             $('#menu2').show();
             $('#l_customer').removeClass('active');
             $('#l_item').removeClass('active');
             $('#l_stand').addClass('active');
             $('#l_pay').removeClass('active');
             $('#l_review').removeClass('active');
         }
            }
     else if (id == "4") {
         //if (balancecheck(totalbalance)) {
             $('#customer').hide();
             $('#item').hide();
             $('#stand').hide();
             $('#payment').show();
             $('#review').hide();
         $('#menu2').show();
         $('#l_pay').addClass('active');
         $('#l_customer').removeClass('active');
         $('#l_stand').removeClass('active');
         $('#l_item').removeClass('active');
         $('#l_review').removeClass('active');
        // }
     } else if (id == "5") {
         if (balancecheck(totalbalance)) {
             $('#customer').hide();
             $('#item').hide();
             $('#stand').hide();
             $('#payment').hide();
             $('#review').show();
             $('#menu2').show();
             $('#l_review').addClass('active');
             $('#l_customer').removeClass('active');
             $('#l_stand').removeClass('active');
             $('#l_item').removeClass('active');
             $('#l_pay').removeClass('active');
         }
            }
     else {
         $('#item').show(); $('#menu2').hide(); $('#l_item').addClass('active');
         $('#l_customer').removeClass('active');
         $('#l_stand').removeClass('active');
         $('#l_pay').removeClass('active');
         $('#l_review').removeClass('active');}

        }

        $(document).ready(function () {

            var statesAvailable = $('#hdnpgno').val();


        var queryDict = {};
        location.search.substr(1).split("&").forEach(function (item) { queryDict[item.split("=")[0]] = item.split("=")[1] })

            if (statesAvailable != 'undefined') {

                if (statesAvailable == "1") {
                    $('#item').show();
                    $('#customer').hide();
                    $('#stand').hide();
                    $('#payment').hide();
                    $('#review').hide();
                    $('#menu2').hide();

                    $('#l_item').addClass('active');
                    $('#l_customer').removeClass('active');
                    $('#l_stand').removeClass('active');
                    $('#l_pay').removeClass('active');
                    $('#l_review').removeClass('active');

            }
                else if (statesAvailable == "2") {
                $('#customer').show();
                    $('#item').hide();
                    $('#stand').hide();
                    $('#payment').hide();
                    $('#review').hide();
                    $('#menu2').show();

                    $('#l_customer').addClass('active');
                    $('#l_item').removeClass('active');
                    $('#l_stand').removeClass('active');
                    $('#l_pay').removeClass('active');
                    $('#l_review').removeClass('active');
                } else if (statesAvailable == "3") {
                    $('#customer').hide();
                    $('#item').hide();
                    $('#stand').show();
                    $('#payment').hide();
                    $('#review').hide();
                    $('#menu2').show();
                    $('#l_customer').removeClass('active');
                    $('#l_item').removeClass('active');
                    $('#l_stand').addClass('active');
                    $('#l_pay').removeClass('active');
                    $('#l_review').removeClass('active');
                } else if (statesAvailable == "4") {
                    $('#customer').hide();
                    $('#item').hide();
                    $('#stand').hide();
                    $('#payment').show();
                    $('#review').hide();
                    $('#menu2').show();
                    $('#l_pay').addClass('active');
                    $('#l_customer').removeClass('active');
                    $('#l_stand').removeClass('active');
                    $('#l_item').removeClass('active');
                    $('#l_review').removeClass('active');
                } else if (id == "5") {
                    $('#customer').hide();
                    $('#item').hide();
                    $('#stand').hide();
                    $('#payment').hide();
                    $('#review').show();
                    $('#menu2').show();
                    $('#l_review').addClass('active');
                    $('#l_customer').removeClass('active');
                    $('#l_stand').removeClass('active');
                    $('#l_item').removeClass('active');
                    $('#l_pay').removeClass('active');
                } else {
                    $('#item').show(); $('#menu2').hide(); $('#l_item').addClass('active');
                    $('#l_customer').removeClass('active');
                    $('#l_stand').removeClass('active');
                    $('#l_pay').removeClass('active');
                    $('#l_review').removeClass('active');}

        }

        //$(function () {
        //    $('#conversionrate').blur(function () {
        //        var rate = getNum(parseFloat($('#conversionrate').val()));
        //        var price = getNum(parseFloat($('#hdntotal').val()));
        //        var calculatefinal = (price)/(rate);

        //        var finalinvoice = Math.round(calculatefinal * 100) / 100;
        //        if (!isNaN(finalinvoice)) {
        //            $('#totalvalue').val(finalinvoice);
        //        }

        //    });
        //});
        function getNum(val) {
            if (isNaN(val)) {
                return 0;
            }
            return val;
        }
        $("#sidebar").mCustomScrollbar({
            theme: "minimal"
        });

        $('#dismiss, .overlay').on('click', function () {
            $('#sidebar').removeClass('active');
            $('.overlay-nav').removeClass('active');
        });

        // $('#sidebarCollapse').on('click', function () {
        //     $('#sidebar').addClass('active');
        //     $('.overlay').addClass('active');
        //     $('.collapse.in').toggleClass('in');
        //     $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        // });

        $('#sidebarCollapse').on('click', function () {
            $('#sidebar, #content').toggleClass('active');
            $('.overlay-nav').addClass('active');
            $('.collapse.in').toggleClass('in');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });
        });
    function IsEmail(email) {
        debugger;
        var regex = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
        if (!regex.test(email.value)) {
            alert('Invalid Email');
           
    return false;
  }else{
    return true;
  }
}



</script>
