<nav id="sidebar">
    <div class="sidebar-header">
        <a href="" class="big-logo"><img src="img/big-logo.png" /></a>
        <a href="" class="small-logo"><img src="img/small-logo.png" /></a>
    </div>

    <div class="sidebar-content">
        <button type="button" id="dismiss" class="btn btn-info">
            <i class="las la-arrow-left"></i>
        </button>
        <div class="profile-setting">
            <div class="profile-img big-profile">
                <img src="img/avatar-01.jpg">
            </div>
            <div class="profile-info big-profile-image">
                <p class="profile-name">Vikram Solomon</p>
                <p class="profile-designation">Sales executive</p>
            </div>
        </div>
        <ul class="list-unstyled components">
            <li class="active">
                @Html.ActionLink("Today's Mirror", "Index", "Mirror", "", new { @class = "las la-chart-bar" })

            </li>
            <li>
                <a href="#homeSubmenu"><i class="las la-print"></i> Print Sale</a>

            </li>
            <li>
                <a href="#homeSubmenu"><i class="las la-toolbox"></i> Add Custom Category</a>

            </li>
            <li>
                <a href="#homeSubmenu"><i class="las la-shapes"></i> Add new item shapes</a>

            </li>
        </ul>

    </div>


</nav>