<div class="wrapper">
    <!-- Sidebar  -->
    <partial name="Sidebar.cshtml" />

    <!-- Page Content  -->
    <div id="content">
        <div class="header-container clearfix">
            <button type="button" id="sidebarCollapse" class="btn btn-info">
                <i class="las la-align-left"></i>
            </button>

            <h1><span class="fbold">Sales</span> <span class="fregular">Application</span></h1>

            <div class="account-wrap">
                <div class="account-item clearfix js-item-menu">
                    <div class="image">
                        <img src="~/img/avatar-01.jpg" alt="John Doe" />
                    </div>
                    <div class="content-account">
                        <a class="js-acc-btn" href="#">Parag Tawde</a>
                    </div>
                    <div class="account-dropdown js-dropdown">
                        <div class="info clearfix">
                            <div class="image">
                                <a href="#">
                                    <img src="~/img/avatar-01.jpg" alt="John Doe" />
                                </a>
                            </div>
                            <div class="content-account">
                                <h5 class="name">
                                    <a href="#">Parag Tawde</a>
                                </h5>
                                <span class="email">Sales executive</span>
                            </div>
                        </div>
                        <div class="account-dropdown__body">
                            <div class="account-dropdown__item">
                                <a href="#">
                                    <i class="zmdi zmdi-account"></i>Account
                                </a>
                            </div>
                            <div class="account-dropdown__item">
                                <a href="#">
                                    <i class="zmdi zmdi-settings"></i>Setting
                                </a>
                            </div>
                            <div class="account-dropdown__item">
                                <a href="#">
                                    <i class="zmdi zmdi-money-box"></i>Billing
                                </a>
                            </div>
                        </div>
                        <div class="account-dropdown__footer">
                            <a href="#">
                                <i class="zmdi zmdi-power"></i>Logout
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="main-container">
            <div class="container-bg clearfix">
                <div class="container-header clearfix">
                    <h2>Add Cash Sale</h2>
                    <div class="header-sales-info">
                        <!-- <p class="float-left clients-name-info"><i class="las la-user-circle"></i> Shomayala Arooz</p> -->
                        <p class="float-left"><span class="fregular">Sale Date:</span> <span class="fbold">05/05/2020</span></p>
                        <p class="float-right"><span class="fregular">Mirror ID:</span> <span class="fbold">47345</span></p>
                        <p class="cart-display"><span class="clients-cart-info"><i class="las la-shopping-cart"></i><span class="cart-notify">2</span></span></p>


                    </div>
                </div>
                <!-- <div class="container-name-cart-info clearfix">
                  <p class="clients-name-info"><i class="las la-user-circle"></i> Shomayala Arooz</p>
                  <p class="clients-cart-info hide-mobile"><i class="las la-shopping-cart"></i> You have <span class="fbold">2 items</span> in your Cart</p>

                </div> -->



                <div class="container-fluid">


                    <!--
                            <a href="" class="btn-create"><i class="las la-plus"></i></a>
                            <a href="" class="btn-scan"><i class="las la-qrcode"></i></a> -->


                    <div class="row pad-rl-20 pad-tb-10">

                        <div class="col-lg-12 col-md-12 full-width-col pad-0">
                            <div class="container-fluid pad-0">
                                <div class="row">

                                    <!--  <div class="col-lg-12 hide-desktop text-right">
                                       <div class="scanner-image">
                                         <img src="img/scan.png"/>
                                       </div>
                                     </div> -->
                                    <div class="col-lg-4 col-md-4 col-sm-4">
                                        <div class="form-group">
                                            <label for="StockNumber">Stock No.</label>
                                            <input type="text" class="form-control" id="StockNumber" placeholder="">
                                        </div>
                                        <div class="description-container mobile-description">
                                            <!-- <h5>Description</h5> -->
                                            <!-- <p><span class="fbold product-name">Buddha</span> <span class="fregular product-info">Sitting Buddha</span></p> -->
                                            <ul>
                                                <li class="mar-r-5"><p class="pad-r-0"><span class="product-name fbold"> Buddha</span><span class="fregular"> Sitting Buddha</span><span class="divide">/</span><span class="fbold">0*0*6</span><span class="divide">/</span><span class="fbold">Marble</span><span class="divide">/</span><span class="fbold">White</span></p></li>


                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-4">
                                        <div class="form-group">
                                            <label for="Qty">Special Addition</label>
                                            <input type="text" class="form-control" id="Qty" placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-4">
                                        <div class="form-group">
                                            <label for="Qty">Quantity</label>
                                            <input type="text" class="form-control" id="Qty" placeholder="">
                                        </div>
                                    </div>

                                </div>

                                <div class="row ">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <div class="description-container desktop-description">
                                            <!-- <h5>Description</h5> -->
                                            <!-- <p><span class="fbold product-name">Buddha</span> <span class="fregular product-info">Sitting Buddha</span></p> -->
                                            <ul>
                                                <li class="mar-r-5"><p class="pad-r-0"><span class="product-name fbold"> Buddha</span><span class="fregular"> Sitting Buddha</span><span class="divide">/</span><span class="fbold">0*0*6</span><span class="divide">/</span><span class="fbold">Marble</span><span class="divide">/</span><span class="fbold">White</span></p></li>


                                            </ul>
                                        </div>
                                    </div>
                                </div>





                                <div class="row mar-b-10">
                                    <div class="form-group col-lg-3 col-md-3 col-sm-3 col-xs-6 col-6">
                                        <label for="inputState">Currency</label>
                                        <select id="inputState" class="form-control">
                                            <option selected>Choose...</option>
                                            <option>...</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-lg-3 col-md-3 col-sm-3 col-xs-6 col-6">
                                        <label for="ConversionRate">Conv. Rate</label>
                                        <input type="text" class="form-control" id="ConversionRate" placeholder="">
                                    </div>
                                    <div class="form-group col-lg-3 col-md-3 col-sm-3 col-xs-6 col-6">
                                        <label for="ConversionRate">Total Value</label>
                                        <div class="total-inra">
                                            <input type="text" class="form-control" id="ConversionRate" placeholder="">
                                        </div>

                                    </div>

                                    <div class="col-lg-3 text-right col-md-3 col-sm-3 col-xs-6 col-6">
                                        <button class="btn-blue">Add Item</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row pad-t-0 pad-rl-20">
                        <div class="col-lg-12 pad-0">
                            <div class="table-responsive table--no-card m-b-30">
                                <table class="table table-borderless table-striped table-earning">
                                    <thead>
                                        <tr>
                                            <th>Description</th>
                                            <th>Currency</th>
                                            <th>Total</th>
                                            <th class="text-center">Action</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="table-description-td">
                                                <p class="table-description-p">
                                                    <span class="table-stock-number">A300</span>
                                                    <span class="table-type CM">C/M</span>
                                                </p>
                                                <p class="table-description">Buddha, Sitting Buddha, 0*0*6, White</p>

                                            </td>

                                            <td><i class="las la-rupee-sign"></i> 200</td>
                                            <td><i class="las la-rupee-sign"></i> 200</td>
                                            <td class="text-center">
                                                <a href="" class="delete-item"><i class="las la-times"></i></a>
                                            </td>


                                        </tr>
                                        <tr>
                                            <td>


                                                <p>
                                                    <span class="table-stock-number">A300</span>
                                                    <span class="table-type of">O/F</span>
                                                </p>

                                                <p class="table-description">Buddha, Sitting Buddha, 0*0*6, White</p>

                                            </td>

                                            <td><i class="las la-rupee-sign"></i> 200</td>
                                            <td><i class="las la-rupee-sign"></i> 200</td>
                                            <td class="text-center">
                                                <a href="" class="delete-item"><i class="las la-times"></i></a>
                                            </td>


                                        </tr>


                                    </tbody>
                                </table>
                            </div>
                        </div>


                        <div class="col-lg-12 text-right">
                            <p class="grand-total"><span class="fregular head">Grand Total:</span><span class="fbold val"><i class="las la-rupee-sign"></i> 400</span></p>
                        </div>


                    </div>

                    <div class="row pad-0 mar-0">
                        <div class="col-lg-12 footer-btn text-right pad-rl-40">
                            <button class="btn-pink">Finish</button>
                        </div>
                    </div>
                </div>






            </div>


            <div class="container-bg clearfix">




            </div>
        </div>




    </div>


</div>
<div class="overlay"></div>

<script src="~/js/vendor/modernizr-3.8.0.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="~/js/vendor/jquery-3.4.1.min.js"><\/script>')</script>
<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<!-- jQuery Custom Scroller CDN -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="~/js/plugins.js"></script>
<script src="~/js/main.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#sidebar").mCustomScrollbar({
            theme: "minimal"
        });

        $('#dismiss, .overlay').on('click', function () {
            $('#sidebar').removeClass('active');
            $('.overlay-nav').removeClass('active');
        });

        // $('#sidebarCollapse').on('click', function () {
        //     $('#sidebar').addClass('active');
        //     $('.overlay').addClass('active');
        //     $('.collapse.in').toggleClass('in');
        //     $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        // });

        $('#sidebarCollapse').on('click', function () {
            $('#sidebar, #content').toggleClass('active');
            $('.overlay-nav').addClass('active');
            $('.collapse.in').toggleClass('in');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });
    });</script>
