<div class="account-wrap">
    <div class="account-item clearfix js-item-menu">
        <div class="image">
            <img src="~/img/avatar-01.jpg" alt="John Doe" />
        </div>
        <div class="content-account">
            <a class="js-acc-btn" href="#">Parag Tawde</a>
        </div>
        <div class="account-dropdown js-dropdown">
            <div class="info clearfix">
                <div class="image">
                    <a href="#">
                        <img src="~/img/avatar-01.jpg" alt="John Doe" />
                    </a>
                </div>
                <div class="content-account">
                    <h5 class="name">
                        <a href="#">Parag Tawde</a>
                    </h5>
                    <span class="email">Sales executive</span>
                </div>
            </div>
            <div class="account-dropdown__body">
                <div class="account-dropdown__item">
                    <a href="#">
                        <i class="zmdi zmdi-account"></i>Account
                    </a>
                </div>
                <div class="account-dropdown__item">
                    <a href="#">
                        <i class="zmdi zmdi-settings"></i>Setting
                    </a>
                </div>
                <div class="account-dropdown__item">
                    <a href="#">
                        <i class="zmdi zmdi-money-box"></i>Billing
                    </a>
                </div>
            </div>
            <div class="account-dropdown__footer">
                <a href="#">
                    <i class="zmdi zmdi-power"></i>Logout
                </a>
            </div>
        </div>
    </div>
</div>