@model SalesApp.ViewModel.CashSaleVM;


<div class="row pad-t-0 pad-rl-20">
    <div class="col-lg-12 pad-0">
        <div class="table-responsive table--no-card m-b-30">
            <table class="table table-borderless table-striped table-earning">
                <thead>
                    <tr>
                        <th>Description</th>
                        <th>Currency</th>
                        <th>Total</th>
                        <th class="text-center">Action</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="table-description-td">
                            <p class="table-description-p">
                                <span class="table-stock-number">A300</span>
                                <span class="table-type CM">C/M</span>
                            </p>
                            <p class="table-description">Buddha, Sitting Buddha, 0*0*6, White</p>

                        </td>

                        <td><i class="las la-rupee-sign"></i> 200</td>
                        <td><i class="las la-rupee-sign"></i> 200</td>
                        <td class="text-center">
                            <a href="" class="delete-item"><i class="las la-times"></i></a>
                        </td>

                    </tr>
                    <tr>
                        <td>


                            <p>
                                <span class="table-stock-number">A300</span>
                                <span class="table-type of">O/F</span>
                            </p>

                            <p class="table-description">Buddha, Sitting Buddha, 0*0*6, White</p>

                        </td>

                        <td><i class="las la-rupee-sign"></i> 200</td>
                        <td><i class="las la-rupee-sign"></i> 200</td>
                        <td class="text-center">
                            <a href="" class="delete-item"><i class="las la-times"></i></a>
                        </td>


                    </tr>


                </tbody>
            </table>
        </div>
    </div>


    <div class="col-lg-12 text-right">
        <p class="grand-total"><span class="fregular head">Grand Total:</span><span class="fbold val"><i class="las la-rupee-sign"></i> 400</span></p>
    </div>


</div>

<div class="row pad-0 mar-0">
    <div class="col-lg-12 footer-btn text-right pad-rl-40">
        <button class="btn-pink">Finish</button>
    </div>
</div>